body {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    
}

.header-link-container {
    display: flex;
    justify-content: flex-end;
}

.section {
    padding-left: 160px;
    padding-right: 160px;
    width: 1000px;
    padding-bottom: 84px;
}

.header-logo {
    font-weight: 900;
    justify-content: flex-start;
    font-size: 24px;
}

.second-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    align-items: center;
    height: 300px;
    gap: 32px;
}

.left-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.placeholder-box {
    flex: 1;
    background-color: #a3a3a3;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 75%;
    font-size: 18px;
}

.signup-button {
    width: 128px;
    padding: 6px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
}

.content-title {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0;
}

.content-paragraph {
    font-size: 18px;
}

.third-section  {
    background-color: white;
    padding-top: 32px;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
}

.box-image-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 170px;
}

.square-button {
    height: 170px;
    width: 100%;
    border-radius: 12px;
    border: 5px solid #3882f6;
    background-color: white;

}

.small-para {
    margin-top: 2px;
    color: #363636;
}

.fourth-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding-top: 64px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

h3 {
    align-self: flex-end;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 50;
    margin-bottom: 8px;
}


.fifth-section {
    background-color: white;
}

.white-border {
    border: 5px solid white;
}

.button-container {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 52px;
    display: flex;
    margin-top: 84px;
    justify-content: space-around;
    align-items: center;
}

h4 {
    color: white;
    font-size: 24px;
    font-weight: 800px;
    margin: 0;
}

.content-paragraph-two{
    color: white;
    font-size: 18px;
    margin: 0;
}

.footer {
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
}